algo-prediction @ git+https://github.com/hajara4mt/algo-prediction.git@bd3498f45b29af2e4793367488f46b7d91830e37

fastapi
uvicorn
pydantic
degreedays
python-dotenv
azure-storage-file-datalake
pandas
pyarrow
statsmodels
