algo-prediction @ git+https://github.com/hajara4mt/algo-prediction.git@de8ac0bd06d42966c6e2591f96862c182240fad5
fastapi
uvicorn
pydantic
degreedays
python-dotenv
azure-storage-file-datalake
pandas
pyarrow
statsmodels
